* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

.modal-btn {
  padding: 10px;
  border: none;
}

.modal-btn:focus {
  outline: none;
}

.modal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 34px;
}

.modal ul:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.modal ul li:hover {
  background-color: royalblue;
  color: #fff;
}

.display {
  display: none;
}
